body {
  background-color: #111; /* Gris très sombre */
  color: #fff; /* Couleur de police */
  font-family: 'Courier New', monospace; /* Police de type machine à écrire */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centrer verticalement les éléments */
  background: url('background-text.svg') no-repeat center; /* Utiliser 'no-repeat' pour n'afficher qu'une seule fois */
  background-size: contain; /* Ajuster la taille de l'image */
  animation: slide 15s linear infinite;
  animation-timing-function: linear; /* Utiliser 'linear' pour un défilement uniforme */
}

@keyframes slide {
  from { background-position: 1700px 0; } /* Ajouter 'px' pour spécifier les pixels */
  to { background-position: -1700px 0; } /* Ajouter 'px' pour spécifier les pixels */
}



.App-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.enclosure {
  border: 2px solid #fff;
  padding: 30px; /* Augmentation de l'espace intérieur de l'encadré */
  max-width: 800px; /* Augmentation de la largeur de l'encadré */
  text-align: center;
  margin-top: 50px; /* Espace supplémentaire en haut */
  word-break: break-all; /* Casser les mots pour qu'ils ne dépassent pas de l'encadré */
  display: flex; /* Utiliser flexbox pour centrer le contenu de l'encadré */
  flex-direction: column; /* Centrer le bouton et la réponse dans une colonne */
  align-items: center; /* Centrer le contenu de l'encadré horizontalement */
}

button {
  background-color: #007bff; /* Couleur du bouton */
  color: #fff; /* Couleur du texte du bouton */
  padding: 15px 30px; /* Ajustement du padding pour centrer le texte */
  border: none;
  cursor: pointer;
  margin: 10px auto 20px; /* Centrer le bouton horizontalement et ajouter de l'espace en bas */
  font-size: 18px; /* Augmentation de la taille du texte du bouton */
  border-radius: 5px;
  width: 180px; /* Largeur fixe pour le bouton */
  transition: opacity 0.3s ease; /* Transition d'opacité pour l'effet de désactivation */
  white-space: nowrap; /* Empêcher le texte de se diviser en plusieurs lignes */
  display: flex; /* Utiliser flexbox pour centrer le texte du bouton */
  justify-content: center; /* Centrer horizontalement le texte du bouton */
  align-items: center; /* Centrer verticalement le texte du bouton */
  margin-bottom: 10px; /* Ajouter une marge en bas du bouton */
}

button:hover {
  background-color: #0056b3; /* Couleur du bouton au survol */
}

button.disabled {
  opacity: 0.6; /* Opacité réduite pour les boutons désactivés */
  pointer-events: none; /* Désactiver les événements de souris pour les boutons désactivés */
}

p {
  margin: 20px 0; /* Ajouter de l'espace en haut et en bas pour la réponse */
  font-size: 16px;
}
